
span{
    color: black;

}

span{
    color: rgb(250, 248, 248);
}
h2{
    background-color:#ff99ce;
    color: black;
    padding: 10px 10px;
    margin: 0 500px 0 500px;
    font-size: 35px;
    text-align: center;


}
.teamPborder{
    background-color: white;
    border-top: solid 5px rgb(249, 15, 179);
    border-bottom: solid 5px yellow;
    border-left: solid 5px blue;
    border-right: solid 5px rgb(243, 19, 30);
    border-radius:50% ;
    width: 400px;
    height: 400px;
    
}
.teamimage{
    width: 100%;
    height: 75%;
}
.outer{
    height: 2000px;
    width: 1520px;
    padding-top: 30px;
}
.cart-outer{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    margin-top: 50px;
    margin-left: 40px;
}
.membername{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 110px;
}