
.heading{
    text-align: center;
    font-size: 40px;
    color: black;
    padding: 10px 30px;
    margin: 20px 0px;
    background-color: #ff99ce;
}
.main{

    
    display: flex;
    align-items: center;
    
    padding: 30px  30px;
    padding-bottom: 40px;
    gap: 25px;
    
}.aboutm .main .v-box video{
    width: 900px;
    border: solid white 2px;
    border-radius: 5px;
  box-shadow: 2px 2px 10px 3px #a3a3a3;
  height: 100%;
  object-fit: cover;
 

}

h3{ font-size: 40px;
    color: rgb(15, 15, 15);
background-color: white;
width: 100%;
padding: 20px 60px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
}

.discription{
    margin-bottom: 50px;
    font-size: 20px;
    text-align: justify;
 
}

#leader{
    color: red;}








span{
    color: rgb(254, 15, 23);
    font-size: 20px;

}


h2{
    background-color:#ff99ce;
    color: black;
    padding: 10px 10px;
    margin: 0 500px 0 500px;
    font-size: 35px;
    text-align: center;


}
.teamPborder{
    background-color: white;
    border-top: solid 5px rgb(249, 15, 179);
    border-bottom: solid 5px yellow;
    border-left: solid 5px blue;
    border-right: solid 5px rgb(243, 19, 30);
    border-radius:50% ;
    width: 200px;
    height: 200px;
    display: flex;
    
}
.teamimage{
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 5px;
    display: flex;
}
.outer{
    height:auto;
    width:auto;
    padding-top: 30px;
    
}
.cart-outer{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-top: 50px;
    margin-left: 40px;
}
.membername{
    font-size:50px;

    margin-left: 150px;
    margin-top: 20px;
    font-style: italic;
}
  
.teamPborder{
    font-size: 100px;
;
}