.heading{
    text-align: center;
    font-size: 40px;
    color: black;
    padding: 10px 30px;
    margin: 20px 0px;
background-color: #ff99ce;
}
.main{

    
    display: flex;
    align-items: center;
    
    padding: 20px 0;
    padding-bottom: 40px;
    gap: 20px;
    
}
.aboutm.main .v-box{
flex: 1 1 100px;
position: relative;
}
.aboutm .main .v-box video{
    width: 900px;
    border: solid white 2px;
    border-radius: 5px;
  box-shadow: 0 5px 5px 2px black;
  height: 100%;
  object-fit: cover;
 
}
.aboutm .main .v-box video h3{
    position: absolute;
  
    font-size: 40px;
    color: rgb(15, 15, 15);
background-color: azure;
width: 100%;
padding: 20px 60px;
text-align: center;



}
h3{
    text-align: center;
    margin-bottom:
    color:#231e21 ;
    font-family: 'Courier New', Courier, monospace ;
    font-size: 30px;

}
p{
}


 .discription{
    margin-bottom: 60px;
    font-size: 20px;
 
}

span{
    color: white;
}

